@model PISistemaResponsivo.Models.Doacao

@{
    ViewBag.Title = "Doaçoes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nova Doação</h2>

@using (Html.BeginForm("Novo", "Doacao", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PessoaCarenteId, "PessoaCarenteId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="PessoaCarenteId" id="PessoaCarenteId" class="form-control">
                    @foreach (var item in ViewBag.PCarente)
                    {
                        <option value="@item.PessoCarenteId">@item.Nome</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VoluntarioId, "VoluntarioId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="VoluntarioId" id="VoluntarioId" class="form-control">
                    @foreach (var item in ViewBag.Voluntario)
                    {
                        <option value="@item.VoluntarioId">@item.NomeVoluntario</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParoquiaId, "ParoquiaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="ParoquiaId" id="ParoquiaId" class="form-control">
                    @foreach (var item in ViewBag.Paroquia)
                    {
                        <option value="@item.ParoquiaId">@item.NomeParoquia</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataEntrega, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataEntrega, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataEntrega, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDoacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TipoDoacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TipoDoacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MotivoDoacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MotivoDoacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MotivoDoacao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cadastrar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", )
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}