@model IEnumerable<PISistemaResponsivo.Models.Paroquia>

@{
    ViewBag.Title = "Área das Paroquias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paroquias</h2>

<p>
    @Html.ActionLink("Novo", "Novo", "Paroquia", new { @class = "btn btn-primary btn-lg" })
</p>
<table class="table table-striped table-hover">
    @if (Model == null)
    {
        <tr>
            <td colspan="4">Não há dados.</td>
        </tr>
    }
    else
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeParoquia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>Operações</th>
        </tr>

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeParoquia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Alterar", "Alterar", "Paroquia", new { id = item.ParoquiaId }, new { @class = "btn btn-primary" }) |
                        @Html.ActionLink("Excluir", "Excluir", "Paroquia", new { id = item.ParoquiaId }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        }
    }

</table>
